<h1>
    {{title}}
</h1>

<md-radio-group>
    <md-radio-button value="1">Option 1</md-radio-button>
    <md-radio-button value="2">Option 2</md-radio-button>
</md-radio-group>

<md-progress-bar mode="indeterminate" color="primary"></md-progress-bar>

<md-icon class="example-icon md-warn">favorite</md-icon>

<h3>Link Buttons</h3>
<div class="example-button-row">
    <a md-button routerLink=".">Flat button</a>
    <a md-raised-button md-primary routerLink=".">Raised button</a>
    <a md-fab routerLink=".">
        <md-icon>check</md-icon>
    </a>
    <a md-mini-fab routerLink=".">
        <md-icon>check</md-icon>
    </a>
</div>
<div class="example-container">
    <h3>Normal Buttons</h3>
    <div class="button-row">
        <button md-button md-primary>Flat button</button>
        <button md-raised-button class="md-primary">Raised button</button>
        <button md-fab><md-icon>check</md-icon></button>
        <button md-mini-fab><md-icon>check</md-icon></button>
    </div>
</div>


<!--

<div class="example-container">
    <h3>Normal Buttons</h3>
    <div class="button-row">
        <button md-button md-primary>Flat button</button>
        <button md-raised-button>Raised button</button>
        <button md-fab><md-icon>check</md-icon></button>
        <button md-mini-fab><md-icon>check</md-icon></button>
    </div>

    <md-radio-group>
        <md-radio-button value="1">Option 1</md-radio-button>
        <md-radio-button value="2">Option 2</md-radio-button>
    </md-radio-group>

    <md-progress-bar mode="indeterminate" color="primary"></md-progress-bar>
    <md-icon svgIcon="thumbs-up"></md-icon>
    <md-icon class="example-icon">favorite</md-icon>

    <h3>Link Buttons</h3>
    <div class="example-button-row">
        <a md-button routerLink=".">Flat button</a>
        <a md-raised-button md-primary routerLink=".">Raised button</a>
        <a md-fab routerLink=".">
            <md-icon>check</md-icon>
        </a>
        <a md-mini-fab routerLink=".">
            <md-icon>check</md-icon>
        </a>
    </div>

</div>
-->