.sd-planner-header {
    max-height: 70px;
    background-color: #D8D8D8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 16px;
}

.sd-planner-header > h1 {
    color: black !important;
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
}

.sd-planner-header > .subtitle {
    font-size: 18px;
    color: #4A4A4A;
    font-weight: 300;
}