<div class="goal-container" sd-flex sd-layout="column">


    <div class="sd-card input-goal-container">
        <md-input-container sd-flex>
            <input md-input placeholder="Add a new goal" value="">
        </md-input-container>
    </div>

    <div sd-layout="row" sd-layout-wrap dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="_listGoals">
            <goal *ngFor="let item of _listGoals; let i = index" title="{{item}}" dnd-sortable [sortableIndex]="i">Goal</goal>
    </div>
</div>