<div class="goal sd-card">
    <goal-header title="{{goalItem.title}}">Goal Header</goal-header>
    
    <!-- Progress bar -->
    <md-progress-bar value="{{goalItem?.progress}}" color="warn"></md-progress-bar>
    
    <div class="goal-body">
        <div class="task" *ngFor="let taskItem of inCompletedTasks; let i = index" sd-layout="row">
            <md-checkbox class="task-checkbox" color="warn" [checked]="taskItem.completed" (change)="itemClicked($event, taskItem)"></md-checkbox>
            <span class="description" (click)="editGoal($event, goalItem)">{{taskItem.title | sdtruncate : 60 }}</span>
        </div>
        <div class="task completed" *ngFor="let taskItem of completedTasks; let i = index" sd-layout="row">
            <md-checkbox class="task-checkbox" color="warn" [checked]="taskItem.completed" (change)="itemClicked($event, taskItem)"></md-checkbox>
            <span class="description" (click)="editGoal($event, goalItem)">{{taskItem.title | sdtruncate : 60 }}</span>
        </div>
    </div>
    <goal-footer (fireCopyEvent)="onCopyEvent($event)" 
                 (firePrintEvent)="onPrintEvent($event)"
                 (fireDeleteEvent)="onDeleteEvent($event)"
                 (fireArchiveEvent)="onArchiveEvent($event)">
        Goal Footer
    </goal-footer>

</div>