/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);

/* @import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css'; */

html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #E2E4E6;
    font-family: 'Roboto', sans-serif;
}

.font-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.loading {
    width: 30px;
    height: 30px;
    border: 5px solid #ccc;
    position: fixed;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    border-radius: 50%;
}

.loading:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    background: #E2E4E6;
    top: 10px;
    left: -5px;
    animation: spin 1.2s infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.error {
    background: #f1f0ef;
    padding: 1em;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

button {
    outline: none;
}

button>.material-icons,
button>md-icon {
    padding: 4px;
    cursor: pointer;
}

.roundImage {
    width: 48px;
    height: 40px;
    border-radius: 48px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.sd-card {
    box-sizing: border-box;
    flex-direction: column;
    margin: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    display: flex;
    -webkit-box-direction: normal;
    color: rgba(0, 0, 0, 0.87);
    background-color: #FAFAFA;
    border-radius: 2px;
    border: 1px solid #979797;
}

.zeroPad {
    padding: 0px !important;
}

.anim {
    transition: all 3000ms;
    -webkit-animation-timing-function: ease-in-out;
    /* Safari 4.0 - 8.0 */
    animation-timing-function: ease-in-out;
}