/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);

/* @import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css'; */

html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #E2E4E6;
    font-family: 'Roboto', sans-serif;
}

.font-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.loading {
    width: 30px;
    height: 30px;
    border: 5px solid #ccc;
    position: fixed;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    border-radius: 50%;
}

.loading:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    background: #E2E4E6;
    top: 10px;
    left: -5px;
    animation: spin 1.2s infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.error {
    background: #f1f0ef;
    padding: 1em;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

button {
    outline: none;
}

button>.material-icons,
button>md-icon {
    padding: 4px;
    cursor: pointer;
}