<div class="app-content app-overlay" (click)="onTapped($event)">
    <div class="planner-container">
        <sd-planner>Planner Component</sd-planner>
    </div>
    <div style="width: 100%; padding: 32px;">
        <div class="sd-card goal-editor" (click)="onGoalEditorTapped($event)">

            <!-- Header -->
            <div class="editor-header" sd-layout="row" style="flex-direction: row-reverse;">
                <input type="text" value="" placeholder="What is your goal for today ?" />
                <div>
                <md-chip-list sd-flex>
                    <md-chip selected="true">Due By 10-Feb-2017</md-chip>
                </md-chip-list>
                </div>
            </div>

            <!-- Progress bar -->
            <div class="progress"> </div>
            
            <!-- Tasks -->
            <div sd-layout="column" style="overflow: scroll;">

                <!-- Pending Tasks -->
                <div sd-layout="row" class="task" *ngFor="let taskItem of inCompletedTasks; let i = index" (mouseover)="onHover($event, i, false)" (mouseout)="onMouseOut($event, i, false)">
                    <button id="pending_move_{{i}}" class="app-icon-button invisible anim">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <md-checkbox sd-flex class="task-checkbox" color="warn" [checked]="taskItem.completed" (change)="itemClicked($event, taskItem)">{{taskItem.title}}</md-checkbox>
                    <button id="pending_delete_{{i}}" class="app-icon-button cancel-task invisible anim" (click)="deleteTask(taskItem)">
                            <i class="material-icons">cancel</i>
                    </button>
                </div>

                <!-- Add New Task -->
                <div sd-layout="row" class="task">
                    <button class="app-icon-button" style="padding-left:28px; padding-right: 6px; pointer-events: none;">
                            <i class="material-icons fadded">add</i>
                    </button>
                    <input class="new-task" type="text" value="" placeholder="Add new task" />
                </div>

                <!-- Completed Tasks -->
                <div sd-layout="row" class="completedTasks fadded" (click)="toggleShowCompletedTasks($event)" sd-layout-wrap *ngIf="completedTasks?.length">
                    <button class="app-icon-button" style="padding-left:14px; pointer-events: none;">
                            <i id="expand_task_icon_1" class="{{lamda}}">keyboard_arrow_right</i>
                    </button>
                    <div style="padding-left:10px; padding-top:2px; pointer-events: none;" disabled>
                        {{completedTasks?.length}} completed tasks
                    </div>
                </div>

                <div sd-flex *ngIf="showCompetedTasks">
                    <div sd-layout="row" class="task completed" *ngFor="let taskItem of completedTasks; let i = index" (mouseover)="onHover($event, i, true)" (mouseout)="onMouseOut($event, i, true)" md-tooltip="Finished On: {{taskItem.completedAt | sddate}}" mdTooltipPosition="above">
                        <button class="app-icon-button invisible" >
                            <i class="material-icons">more_vert</i>
                        </button>
                        <md-checkbox sd-flex class="task-checkbox" color="warn" [checked]="taskItem.completed" (change)="itemClicked($event, taskItem)">{{taskItem.title}}</md-checkbox>
                        <button id="completed_delete_{{i}}" class="app-icon-button cancel-task invisible anim" (click)="deleteTask(taskItem)">
                            <i class="material-icons">cancel</i>
                        </button>
                    </div>
                </div>


            </div>


            <!-- Footer -->
            <div class="goal-footer" sd-layout="row">
                <div sd-layout="row">
                        <button class="app-icon-button" md-tooltip="Copy" mdTooltipPosition="above" (click)="onCopyEvent()" >
                            <i class="material-icons">content_copy</i>
                        </button>
                        <button class="app-icon-button" md-tooltip="Archive" mdTooltipPosition="above"  (click)="onArchiveEvent()">
                            <i class="material-icons">archive</i>
                        </button>
                        <button class="app-icon-button" md-tooltip="Print" mdTooltipPosition="above"  (click)="onPrintEvent()">
                            <i class="material-icons">print</i>
                        </button>
                        <button class="app-icon-button" md-tooltip="Due Date" mdTooltipPosition="above"  (click)="onPrintEvent()">
                            <i class="material-icons">schedule</i>
                        </button>
                        <button class="app-icon-button" md-tooltip="Delete" mdTooltipPosition="above" (click)="onDeleteEvent()" >
                            <i class="material-icons">delete</i>
                        </button>
                </div>
                <div sd-flex></div>
                <div sd-layout="row">
                    <button md-button md-tooltip="Save Goal" mdTooltipPosition="above" (click)="onDeleteEvent()">DONE</button>
                </div>
            </div> <!-- Footer End -->
        </div>
    </div>
</div>