<md-sidenav-layout class="smd-full-height">

    
    <md-sidenav #sidenav mode="side" class="app-sidenav">
        
    </md-sidenav>


<md-toolbar color="primary">
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>
    
        <div class="roboto-light title" flex="20"> Silver Doe </div>
        
        <span class="md-flex"></span>
        
        
        <input class="search-input" placeholder="Search" value="Sushi">
        

        <span class="md-flex"></span>

        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">work</i>
        </button>

        <button class="app-icon-button" [mdMenuTriggerFor]="menu">
            <i class="material-icons app-toolbar-menu">account_circle</i>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item>Profile</button>
            <button md-menu-item>Sign Out</button>
        </md-menu>

    </md-toolbar>

    <div class="app-content">

        

        
        <div style="display: flex; background: lime; min-width: 320px; padding: 32px;">
            <sd-planner>Planner Component</sd-planner>
        </div>


        <div class="goal-container" sd-flex sd-layout="column">

            <div style="display: flex; flex: 1 auto; background: cyan; max-height: 75px;">
                <input type="text" placeholder="Add new goal" />
            </div>

            <div dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listBoxers" style="display: flex; flex: 1; height: auto; background: deeppink; flex-flow: row wrap; justify-content: space-between;" sd-center>
                <div *ngFor="let item of listBoxers; let i = index" dnd-sortable [sortableIndex]="i" style="width: 240px; height: 283px; border: 1px solid black;">
                    <h3>Container #{{i+1}}</h3>
                    {{item}}
                </div>
            </div>
        </div>
    </div>

</md-sidenav-layout>