:host,
md-sidenav-layout {
    width: 100%;
    height: 100%;
    color: #142031;
    background: red;
}

md-sidenav {
    min-width: 280px
}

.app-content {
    width: 100%;
    height: calc(100% - 64px);
    background: lime;
}

.nav-title {
    font-size: 29px;
    line-height: 48px;
    font-weight: 300;
    padding-left: 4px;
}

.search {
    height: 48px;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    font-size: 11px;
}

.search-input {
    outline: none;
    border: none;
    height: 48px;
    background: transparent;
    font: normal 18px Roboto, sans-serif;
}

.search-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.5);
}

.search-input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.5);
}

.search-input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.5);
}

.search-input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.5);
}

.search-icon,
.close-icon {
    font-size: 32px;
    line-height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 300;
}

#right-menu>button {
    padding-left: 16px;
    color: rgba(0, 0, 0, 0.65);
}

#right-menu>button:hover,
.close-icon:hover {
    color: black;
}

.flex-panel {
    margin: 5px;
    display: flex;
    border: 1px solid black;
    background: green;
}

.masonry-layout {
    column-count: 3;
    -webkit-column-count: 3;
    column-gap: 0;
    -webkit-column-gap: 0;
}

.masonry-layout__panel {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    padding: 5px;
}

.masonry-layout__panel-content {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background: darkorange;
    cursor: move;
}

.bg--red {
    background-color: #E74C3C;
}

.bg--green {
    background-color: #26A65B;
}

.bg--purple {
    background-color: #8E44AD;
}

.bg--orange {
    background-color: #F89406;
}

@media only screen and (max-width: 600px) {
    .search {
        display: none !important;
    }
    .masonry-layout {
        column-count: 2;
        -webkit-column-count: 2;
    }
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
    .search,
    .search-input {
        height: 40px;
    }
    .search-icon,
    .close-icon {
        font-size: 28px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 960px) and (min-width:593px) {
    .app-content {
        height: calc(100% - 48px);
    }
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width:593px) {
    .app-content {
        height: calc(100% - 56px);
    }
}