<div style="background: peachpuff; display: flex; flex: 1; height: 100%;">
    Planner Component
</div>


<!--
<sd-planner-header>Planner Header</sd-planner-header>
-->

<!--
<div style="flex:1 1 0%">
 <div flex>Is it full height</div>
</div>

<div class="sd-card">
    Planner
</div>

<br>
<hr>
<h2>Flex Test #3</h2>
<div style="display: flex; flex: 1; background: indianred;">
    <div style="flex-direction: row; display: flex; flex: 40; border: 1px solid black;">
        Left Box
    </div>
    <div style="flex-direction: column;  display: flex; flex: 60;  border: 1px solid black;">
        Right Box
    </div>
</div>

<div sd-flex sd-center>
            <div sd-flex="33">[flex=33]</div>
            <div sd-flex="66">[flex=66]</div>
            <div sd-flex="66">[flex=66]</div>
            <div sd-flex="33">[flex=33]</div>
            <div sd-flex="33">[flex=33]</div>
            <div sd-flex="33">[flex=33]</div>
            <div sd-flex="33">[flex=33]</div>
</div>

<br>
<hr>
<h2>Flex Test</h2>
<div style="display: flex; border: 1px solid red; padding: 8px; flex-direction: column-reverse; vertical-align: middle;" sd-center>
    <div style="width: 100px; height: 100px; background: pink;">1</div>
    <div style="width: 200px; height: 100px; background: lime;">2</div>
    <div style="width: 300px; height: 100px; background: orange;">3</div>
    <div style="width: 100px; height: 100px; background: skyblue;">4</div>
</div>
<br>
<hr>
<h2>Flex Test 2</h2>
<div style="display: flex; flex: 1; background: indianred;">
    <div style="flex-direction: row; display: flex; flex: 0.4;">
        <div style="background-color: #009688; padding: 8px; flex: 1;">First item in row</div>
        <div style="background: #3949ab; padding: 8px; flex: 1;">Second item in row</div>
    </div>
    <div style="flex-direction: column;  display: flex; flex: 1;">
        <div style="background: #009688; padding: 8px; flex: 1;">First item in column</div>
        <div style="background: #3949ab; padding: 8px; flex: 1;">Second item in column</div>
    </div>
</div>


<br>
<hr>
<h2>Column & Row </h2>
<div layout="row" style="color:white; padding: 8px; flex-direction:row; flex:1 1 0%;">
  <div sd-flex style="background-color: #009688; padding: 8px; flex: 1;">First item in row</div>
  <div sd-flex style="background: #3949ab; padding: 8px; flex: 1;">Second item in row</div>
</div>
<div layout="column" style="color:white; padding: 8px; flex-direction:column;  flex:1 1 0%;">
  <div sd-flex style="background: #009688; padding: 8px; flex: 1;">First item in column</div>
  <div sd-flex style="background: #3949ab; padding: 8px; flex: 1;">Second item in column</div>
</div>

<hr>
<br>
-->