@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);


html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #4A4A4A;
  font-family: 'Roboto', sans-serif;
}

.md-flex {
  flex: 1 1 auto;
}

.smd-full-height {
  height: 100%;
}

.app-sidenav {
  padding: 10px;
  min-width: 300px;
}

.title {
  font-size: 29px;
}

.roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.search-input {
  padding: 11px 0 11px 16px;
  height: 24px;
  border: none;
  font: normal 16px Roboto,sans-serif;
  outline: none;
  background: rgba(0, 0, 0, 0.04);
  flex-grow: 3;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-content {
  padding: 0px;
  width: 100%;
  height: calc(100% - 64px);
  display: flex;
  flex-direction: row;
  overflow: scroll;
}


.planner-container {
  display: flex; 
  min-width: 320px; 
  padding: 32px;
}

sd-planner {
  display: flex; 
  flex: 1;
}



.sd-card {
  box-sizing: border-box;
  flex-direction: column;
  margin: 8px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  display: flex;
  -webkit-box-direction: normal;
  color: rgba(0,0,0,0.87);
  background-color: #FAFAFA;
  border-radius: 2px;
  border: 1px solid #979797;
}

.anim-slow {
  transition: all 600ms;
  
  -webkit-animation-timing-function: ease-in-out; /* Safari 4.0 - 8.0 */
  animation-timing-function: ease-in-out;
}

.anim {
  transition: all 300ms;
  
  -webkit-animation-timing-function: ease-in-out; /* Safari 4.0 - 8.0 */
  animation-timing-function: ease-in-out;
}


.sd-card > .progress {
    height: 4px;
    background: #7ED321;
    width: 50%;
}

.invisible {
  opacity: 0;
}
