.masonry-layout {
    column-count: 3;
    -webkit-column-count: 3;
    column-gap: 0;
    -webkit-column-gap: 0;
}

.masonry-layout__panel {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    padding: 5px;
}

.masonry-layout__panel-content {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background: darkorange;
    cursor: move;
}

@media only screen and (max-width: 960px) {
    .masonry-layout {
        column-count: 2;
        -webkit-column-count: 2;
    }
}

@media only screen and (max-width: 320px) {
    .masonry-layout {
        column-count: 1;
        -webkit-column-count: 1;
    }
}